/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --sections-width: clamp(375px, 49%, 700px);
  --main-font-family: "Inter";
  --accent-font-family: "PressStart2P";
  --main-font-size: 18px;
  --main-font-text-weight: 400;
  --main-font-title-weight: 700;
  --font-color: #000;
  --header-block-margin: 100px;
  --header-block-padding: clamp(120px, 30%, 128px);
  --header-title-gap: 20px;
  --header-title-tag-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --border: 2px solid #000;
  --card-background-color: #fff;
  --button-background-color: #fff;
  --cards-gap: 50px;
  --card-title-padding-inline: 10px;
  --card-title-padding-block: 3px 5px;
  --card-paragraph-padding-inline: 25px;
  --card-paragraph-padding-block: 27px 0px;
  --card-first-paragraph-padding-block: 25px 0px;
  --card-button-padding: 25px;
  --card-like-button-height: 39px;
  --card-like-button-width: 130px;
  --card-like-button-gap: 4px;
  --button-font-size: 14px;
  --save-button-heigh: 55px;
  --save-button-width: 338px;
  --save-button-gap: 7px;
  --card-pic-text-right: 25px;
  --card-pic-text-top: 25px;
  --card-pic-text-size: 14px;
  --card-pic-text-opacity: 50%;
  --save-button-img-size: 21px;
  --card-pic-text-stroke-color: #ffffff;
  --popup-height: 191px;
  --popup-width: 353px;
  --page-margin-block-end: 103px;
  --page-background: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --hover-text-color: #fff;
  --shadow-color: #000;
  --hover-bg: #000;
  --heart-contour-color: #000;
  --animation-fill-color: red;
}

@media (width <= 375px) {
  :root {
    --save-button-heigh: 84px;
    --save-button-width: 310px;
    --save-button-gap: 8px;
    --card-pic-text-right: 11px;
    --save-button-img-size: 28px;
    --page-margin-block-end: 100px;
  }
}
